{{#if success_message }}

<div class="alert alert-success">
{{success_message}}
</div>


{{/if}}

{{#if updated_message}}

<div class="alert alert-warning">
{{updated_message}}
</div>



{{/if}}

{{#if delete_message}}

<div class="alert alert-danger">
{{delete_message}}
</div>


{{/if}}


{{#if error_register}}

<div class="alert alert-danger" style="margin:10px 10px;">
{{error_register}}
</div>


{{/if}}


{{#if success_register}}

<div class="alert alert-success" style="margin:10px 10px;">
{{success_register}}
</div>


{{/if}}


{{#if error}}

<div class="alert alert-danger" style="margin:10px 10px;">
{{error}}
</div>


{{/if}}







