<h1>All Posts</h1>

{{>home/form-msg}}


<table class="table table-bordered">

	<thead>
     <tr>
     	<th>Id</th>
        <th>File</th>
        <th>Category</th>
         <th>Title</th>
        
           <th>Status</th>
             <th>Allow Comments</th>
             <th>View Comments</th>
             <th>Date</th>
           

              
     </tr>


	</thead>


   <tbody>

   	{{#each posts}}
   <tr>
    <td>{{id}}</td>
     <td><img  height="50px" width="50px" src="{{file}}"/></td>
     <td>{{category.categoryName}}</td>
    <td>{{title}}</td>
    <td>{{status}}</td>
    <td>
        <input type="checkbox" name="allowComments" id="allowComments" {{#if allowComments}}checked="checked"{{/if}}>
        <input type="hidden" name="postId" id="postId" value="{{id}}">

     
      
    </td>
    <td>

      
          <a href="/admin/posts/{{id}}/comments">View</a>

    
       
   </td>
    <td>{{date}}</td>
    <td><a href="/admin/posts/edit/{{id}}" class="btn btn-info">Edit</a>

    </td>

     <td>
        <form action="/admin/posts/delete/{{id}}?_method=DELETE" method="post">
           
           <button type="submit" class="btn btn-danger">Delete</button>
        </form>
     </td>
   </tr>

   {{/each}}
   </tbody>
   

</table>
